body {
    margin: 0px;
}
.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #739fa1;
    font-family: Lato, sans-serif;
    left: 0px;
    top: 0px;
    min-height: 120px;
}

.nav-content .nav-logo h2 {
    color: white;
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-top: 31px;
    margin-left:40px;
    font-weight: 500;
}

.content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
 
 .description {
   font-family: Lato, sans-serif;
   line-height: 2rem;
   letter-spacing: 2px;
   margin-bottom: 2rem;
   color:black;
   font-size: 1.2rem;
 }

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 3rem;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.repo p {
    font-family: Lato, sans-serif;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    color:black;
  font-size: 1.2rem;
}

#chapt {
  font-size: 1.7rem;
}